body {
    font-family: 'Helvetica', 'sans-serif';
    font-size: 16px;
    background-color: #ffffff;
    color : #000000;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    margin: 10px 50px;
}

main {
    height: 100%;
    margin: 10px 50px;
}

.main-svg text {
    pointer-events: none;
}

.d3-tip {
    line-height: 1;
    padding: 5px;
    background: #fff;
    color: #000;
    border-radius: 2px;
    pointer-events: none;
    font-size: 12px;
    max-width: 200px;
}

button {
    padding: 10px 30px;
    color: #000;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 4px;
    cursor: pointer;
    outline: 0;
    font-family: 'Helvetica', 'sans-serif';
    font-size: 16px;
}

button:hover, button:active {
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	background-color:#f6f6f6;
}

.viz1-container{
    display: flex;
    flex-direction: column;
    column-gap: 50px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-bottom: 50px;
    padding-top: 25px
}

.viz2-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding-bottom: 50px;
    padding-top: 25px;
}

.viz3-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding-bottom: 50px;
    padding-top: 25px;
}

.title-text {
    font-family: Oswald;
    font-size: 24px;
    font-weight: bold;
}

.text-class {
    font-family: 'Open Sans Condensed';
    font-size: 16px;
    padding-bottom: 25px;
}

#tooltip-title {
    font-family: 'Open Sans Condensed';
    font-weight: normal;
    font-size: 18px;
    text-decoration: underline;
}